Judge if the following statement is True or False according to a given document as reference.

Here is the statement to be judged:
    {{statement}}

Here is the document as reference:
    {{document}}